body {
    font-family: 'Signika', sans-serif;
}

.jumbotron {
    background-color: silver;
}

.jumbotron2 {
    background-color: white;
}

h1 {
    font-size: 65px;
}

.btn1 {
    color: black;
    background-color: white;
}

.form-control1 {
    width: 20%;
}